global
    daemon
    maxconn 4096
    log stdout format raw local0 info

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend movie_service_frontend
    bind *:8080
    mode http
    default_backend rest_facade_backend
    
    # Health checks
    option httpchk GET /actuator/health
    

backend rest_facade_backend
    mode http
    balance roundrobin
    
    # REST facade instances (translate REST to SOAP)
    server rest-facade-1 rest-facade-1:8080 check 
    server rest-facade-2 rest-facade-2:8080 check 

frontend oscar_service_frontend
    bind *:8082
    mode http
    default_backend oscar_service_backend
    
    # Health checks
    option httpchk GET /api/oscar/screenwriters/get-loosers
    

backend oscar_service_backend
    mode http
    balance roundrobin
    # Oscar service instances
    server oscar-service-1 oscar-service-1:8080 check
    server oscar-service-2 oscar-service-2:8080 check 

# Stats page
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 30s
    stats admin if TRUE
