global
    daemon
    maxconn 4096
    log stdout format raw local0 info

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend movie_service_frontend
    bind *:8080
    mode tcp
    default_backend movie_service_backend
    

backend movie_service_backend
    mode tcp
    balance roundrobin
    
    # Movie service instances
    server movie-service-1 movie-service-1:8080 check 
    server movie-service-2 movie-service-2:8080 check 

frontend oscar_service_frontend
    bind *:8082
    mode tcp
    default_backend oscar_service_backend
    

backend oscar_service_backend
    mode tcp
    balance roundrobin
    # Oscar service instances
    server oscar-service-1 oscar-service-1:8181 check
    server oscar-service-2 oscar-service-2:8181 check 

# Stats page
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 30s
    stats admin if TRUE
